<html>
    <head>
      <title>{{ title }} - Voice Search using Annyang</title>
    </head>
    <body>
        <div align="left"> 
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">SignIn</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
