{% extends "base.html" %}

{% block content %}
    <!--
    <style type="text/css">
        select { width: 300px; }
        textarea {
            width: 300px;
            height: 10px;
        }
    </style>
    <p><textarea cols="50" rows="10"></textarea></p>
    -->

    <div align="center">
    <form action="" method="post" name="search">
    <input style="height:50px;font-size:14pt;" id="styling">
    <style>
    #styling {
        background: white
            url("https://www.google.com/intl/en/chrome/assets/common/images/content/mic.gif") right no-repeat;
        padding-left: 17px;
    }
    </style>
    <p>
        {{ form.search.label }}<br>
        <!--
        <div id="div_start">
            <button id="start_button" onclick="startButton(event)"><img alt="Start" id="start_img"
            src="https://www.google.com/intl/en/chrome/assets/common/images/content/mic.gif"></button>
        </div>
        -->
        {% for error in form.search.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    </form>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
    <script>
    if (annyang) {
        var helloFunction = function(tag) {
            var url = 'https://www.google.com/search?q='+tag;
            window.open(url);
            //$.getJSON(url);
        }

        var stopFunction = function() {
            if (!("Notification" in window)) {
                alert("This browser does not support desktop notification");
            } else if (Notification.permission === "granted") {
                var notification = new Notification("Stopping listening to voice commands");
            } else if (Notification.permission !== 'denied') {
                Notification.requestPermission(function (permission) {
                    if(!('permission' in Notification)) {
                        Notification.permission = permission;
                    }

                    if (permission === "granted") {
                        var notification = new Notification("Stopping listening to voice commands");
                    }
                });
            }
            //alert('Stopping listening to voice commands').fadeOut();
            annyang.pause();
        }

        // Let's define our first command. First the text we expect, and then the function it should call
        var commands = {
            'stop': stopFunction, '*tag': helloFunction 
        };

        annyang.addCommands(commands);

        // Start listening. You can call this here, or attach this call to an event, button, etc.
        annyang.start();

        annyang.addCallback('result', function(whatWasHeard) {
                document.write(whatWasHeard[0] + "<br>");
        });

        annyang.addCallback('resultNoMatch', function(whatWasHeard) {
                console.log("No matches were found");
                annyang.addCallback('result',function(whatWasHeard) { console.log(whatWasHeard) });
        });

        annyang.addCallback('resultMatch', function(whatWasHeard) {
                annyang.addCallback('result',function(whatWasHeard) { console.log(whatWasHeard) });
        });

        //document.write(whatWasHeard);
    } else {
        document.write("Platform not supported. Please read FAQ for supported platforms");
    }
    </script>
{% endblock %}
